<div class="flex-align-space-between filter-action-mobile hide w100">
  <a href="#" class="h100 flex flex-align-ver flex-align-hoz filter-action-mobile__item text-center close-filter-btn button--style2" title="{{ 'general.accessibility.close_modal' | t | escape }}">{{ 'general.accessibility.close_modal' | t }}</a>
  <button type="submit" class="h100 flex flex-align-ver flex-align-hoz filter-action-mobile__item filter-action-mobile__item--submit-btn text-center button--style1" data-total-active-values="{{ total_active_values }}">{{ 'collections.filters.apply' | t }}</button>
</div>