{% if settings.goBuynowEnable %}             
<button type="button" class="button disabled" disabled onclick="onBuyNowClick(this)" id="gokwik-buy-now"{% if settings.hideFlow %} style="display:none !important;" {% endif %}>{{ settings.buynow-titile }}
<div style="display:none" class="addloadr" id="btn-loader"><div class="cir-loader">Loading..</div></div>
</button>  
{% endif %}










