<div class="gutter-ele-top gutter-ele-bottom" {{ block.shopify_attributes }}>
	<button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button modal-link transition" type="button" aria-haspopup="dialog" data-target="#productPopupModal{{ section.id }}">{{ block.settings.link_label | default: block.settings.page.title }}</button>
</div>