<div class="youtube-wrapper hide">
	<div class="video-box video-box--youtube"{% if ratio %} style="padding-bottom:{{ ratio }}%;"{% endif %}>
		<div id="youtube-player-{{ media.id }}" class="video-{{ media.id }}" style="position:absolute;top:0;left:0;right:0;"></div>
	</div>
</div>