{%- assign fre_show = 0 -%}
{%- assign fre_price = 0 -%}
{%- assign fre_compare_price = 0 -%}
{%- assign fre_cart_ids = '' -%}
{%- assign fre_max_length = section.settings.limit -%}
{%- for item in cart.items -%}
	{%- assign fre_cart_ids = fre_cart_ids | append: item.product.id | append: ' ' -%}
{%- endfor -%}
{%- assign fre_cart_ids = fre_cart_ids | rstrip -%}
{%- if fre_handles != blank and fre_handles != '' and recommendations.performed == false -%}
	{%- assign fre_handles_array = fre_handles | escape | split: ',' -%}
	{%- for fre_handle in fre_handles_array -%}
		{%- if fre_show < fre_max_length -%}
			{%- assign fre_product = all_products[fre_handle] -%}
			{%- unless fre_product == blank or fre_cart_ids contains fre_product.id or fre_product.available == false -%}
				{%- assign fre_current_variant = fre_product.first_available_variant -%}
				{%- if fre_current_variant.available -%}
					{%- assign fre_price = fre_price | plus: fre_current_variant.price -%}
					{%- if fre_current_variant.compare_at_price != blank and fre_current_variant.compare_at_price > fre_current_variant.price -%}
						{%- assign fre_compare_price = fre_compare_price | plus: fre_current_variant.compare_at_price -%}
					{%- else -%}
						{%- assign fre_compare_price = fre_compare_price | plus: fre_current_variant.price -%}	
					{%- endif -%}
				{%- endif -%}
			  <div class="col-xs-12 col-sm-6 col-md-3 gutter-ele-bottom">
				  {%- render 'product-single-fre-bought-widget-item' with fre_product: fre_product, fre_current_variant: fre_current_variant, fre_show: fre_show -%}
					{%- assign fre_show = fre_show | plus: 1 -%}
				</div>
			{%- endunless -%}
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}
{%- if fre_show == 0 and recommendations.performed and recommendations.products_count -%}
	{%- for fre_product in recommendations.products -%}
		{%- if fre_show < fre_max_length -%}
			{%- unless fre_cart_ids contains fre_product.id or fre_product.available == false -%}
				{%- assign fre_current_variant = fre_product.first_available_variant -%}
				{%- if fre_current_variant.available -%}
					{%- assign fre_price = fre_price | plus: fre_current_variant.price -%}
					{%- if fre_current_variant.compare_at_price != blank and fre_current_variant.compare_at_price > fre_current_variant.price -%}
						{%- assign fre_compare_price = fre_compare_price | plus: fre_current_variant.compare_at_price -%}
					{%- else -%}
						{%- assign fre_compare_price = fre_compare_price | plus: fre_current_variant.price -%}	
					{%- endif -%}
				{%- endif -%}
			  <div class="col-xs-12 col-sm-6 col-md-3 gutter-ele-bottom">
				  {%- render 'product-single-fre-bought-widget-item' with fre_product: fre_product, fre_current_variant: fre_current_variant, fre_show: fre_show -%}
					{%- assign fre_show = fre_show | plus: 1 -%}
				</div>
			{%- endunless -%}
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}
{%- if fre_show > 0 -%}
	<div class="col-xs-12 gutter-top gutter-bottom gutter-ele-top-tbs">
    <div class="gutter-ele-bottom flex">
    	<strong class="freb__total h4">{{ 'cart.label.total' | t }}:</strong>
    	<div class="freb__total-price flex flex-align-ver">
			  {% if fre_compare_price > fre_price %}
			  	<s class="product-price__price product-price__price--freb">{%- render 'price' with price: fre_compare_price -%}</s>
			    <span class="product-price__price product-price__price--freb">
			      {%- render 'price' with price: fre_price -%}
			    </span>
			  {% else %}
			    <span class="product-price__price product-price__price--freb">{%- render 'price' with price: fre_price -%}</span>
			  {% endif %}
			</div>
    </div>
		<button type="button" class="freb__add-btn button button--style1 button--single-cart" style="margin:0;">
			<span>{{ 'products.product.fre_bought_add' | t }}</span>
		</button>
	</div>
	{%- endif -%}