{%- if section.settings.show_review_form_outside_tab and settings.enable_review -%}
<div class="container{% render 'wide-css-class' %}">
  <div class="row">
    <div class="col-xs-12">
      {%- render 'product-review-form' with product: product -%}
    </div>
  </div>
</div>
{%- endif -%}