{%- render 'section-background-start' -%}
<div class="main-product-reviews-section container{% render 'wide-css-class' %}{% render 'section-gutters-nobkg' %}" id="main-product-reviews-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="main-product-reviews">
  {%- render 'section-heading' -%}
  {%- render 'product-review-form' with product: product -%}
</div>
{%- render 'section-background-end' -%}
{% schema %}
{
  "name": "Main product - Reviews",
  "tag": "section",
  "templates": ["product"],
  "settings": [
    {
      "type": "paragraph",
      "content": "Use this section if you want to show the reviews outside the tabs section."
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "checkbox",
      "id": "bkg_enable",
      "label": "Enable",
      "default": false
    },
    {
      "type": "color",
      "id": "section_bkg",
      "label": "Pick a color"
    },
    {
      "type": "image_picker",
      "id": "section_bkg_image",
      "label": "Background image"
    },
    {
      "type": "radio",
      "id": "section_bkg_gutter",
      "label": "Background size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "medium"
        },
        {
          "value": "high",
          "label": "High"
        }
      ],
      "default": "high"
    },
    {
      "type": "radio",
      "id": "section_bkg_style",
      "label": "Background image style",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    },
    {
      "type": "header",
      "content": "Section Gutters"
    },
    {
      "type": "checkbox",
      "id": "top_gutter",
      "label": "Enable top gutter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "bottom_gutter",
      "label": "Enable bottom gutter",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Main product - Reviews"
    }
  ]
}
{% endschema %}